<div class="fixed-bottom bg-primary text-white toast" data-autohide="false">
    <div class="toast-body">
      delete product from cart
            <button type="button" class="text-white ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
  </div>